.body{
 font-family: "Open sans",sans-serif;
 font-size: 16px;
 font-weight: 400;
 font-style: normal;
 line-height: 1.375;    
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: rgba(222, 222, 222, 0.50);
    
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.header__container{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;

}

.header__logo{
    display: inline-block;
    width: 202px;
    height: 147px;
    margin-right: 237px;
}
.header__logo-img{
    width: 100%;
    height: 100%;
}
.header__nav{
    display: inline-block;
    margin-right: 230px; 
}
.header__nav-link{
    margin: 0 25px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.header__user-button{
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #1f1e1e ;
}


.home{
    padding-top: 147px;
}

.main-header{
    padding: 100px 0px;
}

.main-header__title,.main-header__text{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: 'Lora', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #1f1e1e;
}

.main-header__title{
    margin: 0 0 70px;
}
.main-header__text{
    margin: 0 auto;
    max-width: 948px;
    width: 100%;
    
}
.main-header__lenni{
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;   
}


.main-header__lenni::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 16.927%;

}
.main-header__lenni-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer{}